.commentBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0;
    margin-bottom: -10px;
}
.inpComment{
    padding: 10px;
    border-radius: 10px;
    width: 70%;
    border: 1px solid grey;
    outline: none;
}
.btnComment{
    width: 70%;
    padding: 15px;
    margin: 5px 13px;
    color: white;
    background-color: #242424;
    border: none;
    border-radius: 10px;
    transition: .3s ease-in-out;
}
.btnComment:hover{
    background-color: #4bb853;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.css-11s4810-JoyAspectRatio-root{
    display: flex !important;
    flex-direction: unset !important;
    align-items: center !important;
}