.styleInput{
    width: 100%;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    margin-top: 0 !important;
    outline: none;
}

.styleInput:focus{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.btnFirst{
    width: 90%;
    padding: 15px;
    margin: 5px 13px;
    color: white;
    background-color: #242424;
    border: none;
    border-radius: 10px;
    transition: .3s ease-in-out;
}
.btnFirst:hover{
    background-color: #4bb853;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btnSecond{
    width: 90%;
    padding: 15px;
    margin-left: 14px;
    color: white;
    background-color: #4bb853;
    border: none;
    border-radius: 10px;
    transition: .3s ease-in-out;
}
.btnSecond:hover{
    background-color: #242424;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.selectTitle{
    width: 84.25%;
    border: 1px solid rgb(194, 194, 194);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
    padding: 15px;
    margin: 10px;
    margin-right: 0;
    outline: none;
}
.create .MuiButton-root{
    padding: 21px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 10px;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.create .MuiFormControl-root{
    padding: 10px;
}
.create .css-n1dd3c-JoyAutocomplete-root{
    padding: 10px;
    outline: none;
}

.jodit-status-bar-link{
    display: none !important;
}
@media screen and (max-width: 425px) {
    .btnContainer{
        flex-direction: column;
    }
}