.logoText{
  color: #242424;
  font-weight: 700;
}
.navHeight{
  min-height: 80px;
  max-height: 100%;
}
.imgSet{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.navBtnStyle{
  background-color: #242424;
  padding: 5px;
  color: white;
  font-size: 14px !important;
  border-radius: 50px;
  font-weight: bold !important;
  margin-left: 10px !important;
  cursor: pointer;
  transition: 0.4s;
}
.navBtnStyle:hover{
  background-color: #4bb853;
}
.navBtnStyleBtn{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  color: white;
  font-size: 14px !important;
  border-radius: 50px;
  font-weight: bold !important;
  margin-left: 10px !important;
  cursor: pointer;
  background-color: #ebebeb;
  color: #646464;
  text-decoration: none;
}
.navBtnStyleBtn:hover{
  color: #646464;
}
.navbarCollapse .MuiBox-root{
  display: flex;
  justify-content: center;
}
.search{
  padding: 10px;

  border: none;
  outline: none;
  background: #ebebeb;
  border: 1px solid rgb(189, 189, 189);
  border-left: none;
}

.searchBtn{
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #343434;
  transition: 0.5s;
  color: white;
  border: 1px solid transparent;
}
.searchBtn:hover{
  background-color: #4bb853;
}
.searchMui{
  background: #ebebeb;
  padding: 5px !important;
  font-size: 46.8px !important;
  color: grey;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid rgb(189, 189, 189);
  border-right: none;
  margin-bottom: 2px;
}

@media screen and (max-width: 991px){
  .navHeight .MuiBox-root{
    flex-direction: column;
  }
  .navHeight .MuiTypography-root{
    margin: 10px 0;
  }
}