.blogContentSection :not(img) {
    width: 80%;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}
.blogContentSection img{
    max-width: 100%;
    object-fit: contain;
}
