.blogContentSection :not(img) {
    width: 80%;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}
.blogContentSection img{
    max-width: 100% !important;
    object-fit: contain !important;
}
@media screen and (max-width: 767px) {
    .blogContentSection img{
        height: 50% !important;
    }
    .blogContentSection h1, h2{
        font-size: 11px !important;
    }
    .blogContentSection p{
        font-size: 8px !important;
    }
    .blogContentSection span{
        font-size: 8px !important;
    }
    .blogContentSection b{
        font-size: 8px !important;
    }
}
