.d-flex {
    overflow: hidden;
  }
  
  .marquee-container {
    display: flex;
    animation: marquee 20s linear infinite; /* Adjust the duration as needed */
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
.trendingImage{
    width: 100%;
    height: 10.5rem !important;
    border-radius: 12px;
    object-fit: cover;
}
